
body {
    font-family: Arial;
    margin: 0;
}
  
header {
    padding: 40px;
    text-align: center;
    background: lightcoral;
    color: #fff;
}
  
nav {
    display: flex;
    background-color: lightpink;
}
  
nav a {
    color: #13293d;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}
  
main {
    display: flex;
    flex-wrap: wrap;
}
  
section {
    flex: 3;
    background-color: #fff;
    padding: 20px;
}

.contact-me {
    padding-top: 20px;
}

.about-me p {
    padding: 20px;
}

.about-me img {
    width: 200px;
    padding-top: 20px;
    padding-left: 20px;
}

.row {
    display: -ms-flexbox; 
    display: flex;
    -ms-flex-wrap: wrap; 
    flex-wrap: wrap;
    padding: 0 4px;
    
  }

.column {
    -ms-flex: 50%; 
    flex: 50%;
    max-width: 50%;
    padding: 0 4px;
    filter: grayscale(0%);
}
  
.column:hover {
    filter: grayscale(50%);
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

#contact-links {
     margin: 20px;
}

#contact-links a {
     padding: 20px;
     color: lightcoral;
}

#horiseon img {
     width: 100%;
     height: auto;
     padding-top: 20px;
     padding-left: 8px;
     padding-right: 8px;
}

#horiseon {
   filter: grayscale(0%);
}
#horiseon:hover {
    filter: grayscale(50%);
}
#project1-label {
    background-color: lightcoral;
}

#project2-label {
    background-color: lightcoral;
    filter: grayscale(0%);
}
#horiseon-label {
    background-color: lightcoral;
    margin-left: 8px;
    margin-right: 8px;
}

footer {
    padding: 20px;
    text-align: center;
    background: lightcoral;
    color: #fff;
}
  
@media screen and (max-width: 768px) {
    main,
    nav {
      flex-direction: column;
    }
    
    /* Change the header background */
    header {
      background: #772014;
    }
    /* Change the navbar and footer background */
    nav,
    footer {
      background-color: #bb8588;
    }
}

@media screen and (max-width: 600px) {
    .column {
      -ms-flex: 100%;
      flex: 100%;
      max-width: 100%;
    }
  }